.container {
    width: 1160px;
    padding: 0 16px;
    margin: 0 auto;
}

.form {
    display: block;
    justify-content: center;
    width: 600px;
}

.form-label {
    display: flex;
    margin-bottom: 20px;
}

fieldset {
    display: block;
    margin-bottom: 20px;
}